 

          <div class="card card-bordered">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">

                                        <h4 class="nk-block-title">Sign-In</h4>
                                        <div class="nk-block-des">
                                            <p>Build a quick and easy payment page in 55 seconds. We utilize a compliant surcharging system or an optional a gateway fee model to eliminate most of your costs . <a target="blank" href="/secure/1000">Click here to see a working demo.</a></p>

                                           
                                        </div>
                                    </div>
                                </div>
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name),  :html => {:class => "p-t-15"}) do |f| %>
                                    <div class="form-group">
                                    


                                        <div class="form-label-group">
                                      
                                            <label class="form-label" for="default-01">Email</label>
                                        </div>
                                        	<%= f.text_field :email, :placeholder => "Email", :class => "form-control form-control-lg", :required => true%>

                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="password">Password</label>
                                                     <%= link_to "Forgot password?", new_password_path(resource_name),  :class => "link link-primary link-sm" %>

                                        </div>
                                        <div class="form-control-wrap">
                                            <a href="#" class="form-icon form-icon-right passcode-switch" data-target="password">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>

                                              <%= f.password_field :password, autocomplete: "off", :placeholder => "Credentials", :class => "form-control",:required => true %>

                                            
                                        </div>
                                    </div>


   <div class="form-group">
                                       

                                        
                                    <div class="custom-control custom-checkbox">
    	<%= f.check_box :remember_me, :class => "custom-control-input",  id:"customCheck1" %>
    <label class="custom-control-label" for="customCheck1">Keep Me Signed in</label>
</div>


	


                               

                                    </div>





                                    <div class="form-group">
                                           <%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %>

                                    </div>

   <% flash.each do |name, msg| %>
                                    <% if msg.is_a?(String) && !msg.blank? %>
                                      <%= content_tag :div, msg, :class => "alert  alert-danger flash_#{name}" %>
                                    <% end %>
                                  <% end %>
                                 <% end %>


                                <div class="form-note-s2 text-center pt-4"> New on our platform? 


                                <%= link_to "Create an account", new_registration_path(resource_name)%>


                                
                                </div>
                           
                             
                            </div>
                        </div>

 
 
