




         <%= devise_error_messages! %>
         <!-- Tab panes -->



         <div class="card card-bordered">
             <div class="card-inner card-inner-lg">
                 <div class="nk-block-head">
                     <div class="nk-block-head-content">
                         <h5 class="nk-block-title">Change Your Password</h5>
                         <div class="nk-block-des">
                         </div>
                     </div>
                 </div>
                 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                   <%= f.hidden_field :reset_password_token %>
                       <div class="form-group">
                         <div class="form-label-group">

                           <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control form-control-lg", :placeholder => "Please enter your new password" %>



                         </div>
                         <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control form-control-lg", :placeholder => "Please re-enter your password" %>

                     </div>
                     <div class="form-group">
                       <%= f.submit "Submit", :class => "btn btn-lg btn-primary btn-block" %>

                     </div>
                 <div class="form-note-s2 text-center pt-4">
                     <a href="javascript:history.back()"><strong>Return to login</strong></a>
                 </div>
             </div>
         </div>


         <% end %>
