

         <%= devise_error_messages! %>
         <!-- Tab panes -->



         <div class="card card-bordered">
             <div class="card-inner card-inner-lg">
                 <div class="nk-block-head">
                     <div class="nk-block-head-content">
                         <h5 class="nk-block-title">Reset password</h5>
                         <div class="nk-block-des">
                             <p>If you forgot your password, well, then we’ll email you instructions to reset your password.</p>
                         </div>
                     </div>
                 </div>
                 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                     <div class="form-group">
                         <div class="form-label-group">
                           <%= f.label :email, :class => "form-label" %>

                         </div>
                         <%= f.email_field :email, autofocus: true, :class => "form-control form-control-lg", :placeholder => "Enter your email address" %>

                     </div>
                     <div class="form-group">
                       <%= f.submit "Submit", :class => "btn btn-lg btn-primary btn-block" %>

                     </div>
                 <div class="form-note-s2 text-center pt-4">
                     <a href="javascript:history.back()"><strong>Return to login</strong></a>
                 </div>
             </div>
         </div>


         <% end %>
