<% if @kiosk %>
<div class="nk-block">
   <div class="card card-bordered">
   </div>
   <!-- .card -->
</div>
<div class="nk-block-head nk-block-head-sm">
   <div class="nk-block-between">
      <div class="nk-block-head-content">
         <h3 class="nk-block-title page-title">Hosted Payment Page</h3>
         <div class="nk-block-des text-soft card-title-group align-start mb-2">
            <p>Our hosted payment page is available to take secure payments for you 24/7.
              <div class="card-tools">
                  <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Use your custom link on your invoices, on your buynow button, or embeded in your website. Try our request payment feature to build your custom payment link where you can lock the amount, invoice or description fields. "></em>
              </div>
          </p>
         </div>
      </div>

      <!-- .nk-block-head-content -->
      <div class="nk-block-head-content">
         <div class="toggle-wrap nk-block-tools-toggle">
            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
               class="icon ni ni-more-v"></em></a>
            <div class="toggle-expand-content" data-content="pageMenu">
              <!-- Hidden on mobile only -->
               <ul class="nk-block-tools g-3 d-none d-sm-block">
                  <li class="nk-block-tools-opt">
                    <a href="<%=(@kiosk.slug)?slug_url(@kiosk):kiosk_url(@kiosk) %>" class="btn btn-warning" target="_blank">
                      <em class="icon ni ni-mobile"></em><span>Launch HPP</span></a>
                  </li>
                  <li class="nk-block-tools-opt">
                    <a href="#online-modal" data-toggle="modal" class="btn btn-primary">
                      <em class="icon ni ni-send"></em><span>Request Payment</span></a>
                  </li>
                  <li class="nk-block-tools-opt">
                    <a href="#online-modal-2" data-toggle="modal" class="btn btn-info">
                      <em class="icon ni ni-mobile"></em><span>Change Link</span></a>
                  </li>
               </ul>
<!-- Visible on mobile only -->
               <div class="nk-block-tools g-3 d-block d-sm-none">
                  <div class="nk-block-tools-opt">
                    <a href="<%=(@kiosk.slug)?slug_url(@kiosk):kiosk_url(@kiosk) %>" class="btn btn-sm btn-warning" target="_blank">
                      <em class="icon ni ni-mobile"></em><span>Launch</span></a>
                  </div>

                  <div class="nk-block-tools-opt">
                    <a href="#online-modal" data-toggle="modal" class="btn btn-sm btn-primary">
                      <em class="icon ni ni-send"></em><span>Request</span></a>
                  </div>

                  <div class="nk-block-tools-opt">
                    <a href="#online-modal-2" data-toggle="modal" class="btn btn-sm btn-info">
                      <em class="icon ni ni-mobile"></em><span>Link</span></a>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- .nk-block-head-content -->
   </div>
   <!-- .nk-block-between -->
</div>
<!-- .nk-block-head -->
<div class="nk-block">
   <div class="card card-bordered">
      <div class="nk-refwg">
         <div class="nk-refwg-invite card-inner">
            <div class="nk-refwg-head g-3">
               <div class="nk-refwg-title">
                  <h5 class="title">Your Secure Page</h5>
                  <div class="title-sub">Use the below link to securely collect payments.</div>
               </div>
               <!-- Hidden Moved Above Dan
               <div class="nk-refwg-action">
                  <a href="#online-modal" data-toggle="modal" class="btn btn-primary">Send
                  Payment Request</a>
               </div>
               <div class="nk-refwg-action">
                  <a href="#online-modal-2" data-toggle="modal" class="btn btn-info">Change Payment URL</a>
               </div> -->
            </div>
            <div class="nk-refwg-url">
               <% if @kiosk.slug %>
               <div class="form-control-wrap">
                  <div class="form-clip clipboard-init" data-clipboard-target="#refUrl" data-success="Copied"
                     data-text="Copy Link"><em class="clipboard-icon icon ni ni-copy"></em> <span
                     class="clipboard-text">Copy Link</span></div>
                  <div class="form-icon">
                     <em class="icon ni ni-link-alt"></em>
                  </div>
                  <input type="text" class="form-control copy-text" id="refUrl" value="<%=slug_url(@kiosk) %>">
               </div>
               <% else %>
               <div class="form-control-wrap">
                  <div class="form-clip clipboard-init" data-clipboard-target="#refUrl" data-success="Copied"
                     data-text="Copy Link"><em class="clipboard-icon icon ni ni-copy"></em> <span
                     class="clipboard-text">Copy Link</span></div>
                  <div class="form-icon">
                     <em class="icon ni ni-link-alt"></em>
                  </div>
                  <input type="text" class="form-control copy-text" id="refUrl" value="<%=kiosk_url(@kiosk) %>">
               </div>
               <% end %>
            </div>
         </div>
         <!-- .nk-refwg-invite -->
         <div class="nk-refwg-stats card-inner bg-lighter">
            <div class="nk-refwg-group g-3">
               <div class="nk-refwg-name">
                  <h6 class="title">My Link <em class="icon ni ni-info" data-toggle="tooltip"
                     data-placement="right" title="Your Hosted Payment Page Stats"></em></h6>
               </div>
               <div class="nk-refwg-info g-3">
                  <div class="nk-refwg-sub">
                     <div class="title"><%=@donations.count %></div>
                     <div class="sub-text">Total Transactions</div>
                  </div>
                  <div class="nk-refwg-sub">
                     <div class="title"><%=number_to_currency(@collection.to_f)%></div>
                     <div class="sub-text">Total Collected</div>
                  </div>
               </div>
            </div>
            <div class="nk-refwg-ck">
               <canvas class="chart-refer-stats" id="refBarChart"></canvas>
            </div>
         </div>
         <!-- .nk-refwg-stats -->
      </div>
      <!-- .nk-refwg -->
   </div>
</div>
<br />
<br />
<!-- Hidden - Moved to Modal Dan
<div class="row g-gs">
   <div class="col-xxl-3">
      <div class="row g-gs">
         <div class="col-lg-6 col-xxl-12">
            <div class="card card-bordered">
               <div class="nk-refwg">
                  <div class="card-inner">
                     <div class="nk-refwg-head g-3">
                        <div class="nk-refwg-title">
                           <h5 class="title">Make alias for your page</h5>
                        </div>
                     </div>
                     <%= form_for(@kiosk, :url => { :action => "slugupdate" },  authenticity_token: true , :method => "post",  :html => {:class => "slug_form"},  remote: true , data: {type: 'script'}) do |f| %>
                     <div class="form-group">
                        <label class="form-label"><%=request.base_url%>/</label>
                        <div class="form-control-wrap">
                           <%= text_field_tag 'slug', @kiosk.slug, :placeholder => "alias", :class => "form-control" %>
                           <%= hidden_field_tag 'id', @kiosk.id %>
                        </div>
                     </div>
                     <%= f.submit "Save", :class => "btn btn-primary btn-refund" %>
                     <span class="badge badge-dot-xs"></span>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->
<!-- Modal Default -->
<div class="modal fade" tabindex="-1" id="online-modal">
   <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
         <a href="#" class="close" data-dismiss="modal" aria-label="Close">
         <em class="icon ni ni-cross"></em>
         </a>
         <div class="modal-body modal-body-md">
            <%= form_with(url: "/dashboard/online", method: "post", local: false) do %>
            <div class="form-group">
               <label class="form-label">Email</label>
               <div class="form-control-wrap">
                  <%= text_field_tag 'email', nil, :placeholder => "", :class => "form-control" %>
               </div>
            </div>
            <div class="form-group">
               <label class="form-label">Amount in USD</label>
               <div class="form-control-wrap">
                  <%= text_field_tag 'amount', nil, :placeholder => "15.00", :class => "form-control", :id => "input_hpp_amt", :inputmode => "decimal" %>
               </div>
            </div>
            <div class="form-group">
               <label class="form-label">Invoice number</label>
               <div class="form-control-wrap">
                  <%= text_field_tag 'inv_num', nil, :placeholder => "", :class => "form-control" %>
               </div>
            </div>
            <div class="form-group">
               <label class="form-label"> Invoice description</label>
               <div class="form-control-wrap">
                  <%= text_field_tag :inv_desc, nil, :placeholder => "", :class => "form-control"%>
                  <%= hidden_field_tag :url, kiosk_friendly_url(@kiosk) %>
                  <%= hidden_field_tag :kiosk_title, @kiosk.title %>
               </div>
            </div>
            <%= submit_tag "Send", :class => "btn btn-lg btn-primary", :id => "btnsend" %>
            <% end%>
         </div>
         <!-- .modal-body -->
      </div>
      <!-- .modal-content -->
   </div>
   <!-- .modal-dialog -->
</div>
<!-- Alias Modal Dan -->
<div class="modal fade" tabindex="-1" id="online-modal-2">
   <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
         <a href="#" class="close" data-dismiss="modal" aria-label="Close">
         <em class="icon ni ni-cross"></em>
         </a>
         <div class="modal-body modal-body-md">


           <div class="card-inner">
              <div class="nk-refwg-head g-3">
                 <div class="nk-refwg-title">
                    <h5 class="title">Customize Your Payment Link</h5>
                 </div>
              </div>
              <%= form_for(@kiosk, :url => { :action => "slugupdate" },  authenticity_token: true , :method => "post",  :html => {:class => "slug_form"},  remote: true , data: {type: 'script'}) do |f| %>
              <div class="form-group">
                 <label class="form-label"><%=request.base_url%>/</label>
                 <div class="form-control-wrap">
                    <%= text_field_tag 'slug', @kiosk.slug, :placeholder => "alias", :class => "form-control" %>
                    <%= hidden_field_tag 'id', @kiosk.id %>
                 </div>
              </div>
              <%= f.submit "Save", :class => "btn btn-primary btn-refund" %>
              <span class="badge badge-dot-xs"></span>
              <% end %>
           </div>


         </div>
         <!-- .modal-body -->
      </div>
      <!-- .modal-content -->
   </div>
   <!-- .modal-dialog -->
</div>
<!-- .modal -->
<% else %>
no merchant found
<% end %>
