
      <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Hosted Payment Page</h3>
                                            <div class="nk-block-des text-soft">
                                                <p>Our hosted payment page is one of our most popular tools, <a href="#">here is why...</a></p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li class="nk-block-tools-opt"><a href="https://paynow.io/secure/1000" class="btn btn-warning"><em class="icon ni ni-mobile"></em><span>Launch HPP</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->



  <div class="nk-block">

   <%= devise_error_messages! %>

              <%= form_for(setup_user(resource), as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>


              <%= f.fields_for :kiosk do |ff| %>
       
                                    <div class="row g-gs">
                                        <div class="col-xxl-6">
                                            <div class="row g-gs">
                                                <div class="col-lg-6 col-xxl-12">
                                                    <div class="card card-bordered">
                                                        <div class="card-inner">
                                                            <div class="card-title-group align-start mb-2">
                                                                <div class="card-title">
                                                                    <h6 class="title">Sales Revenue</h6>
                                                                    <p>In last 30 days</p>
                                                                </div>
                                                                <div class="card-tools">
                                                                    <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Revenue from subscription"></em>
                                                                </div>
                                                            </div>
                                                            <div class="align-end gy-3 gx-5 flex-wrap flex-md-nowrap flex-lg-wrap flex-xxl-nowrap">
                                                                <div class="nk-sale-data-group flex-md-nowrap g-4">
                                                                    <div class="nk-sale-data">
                                                                        <span class="amount">$14,299.59 <span class="change down text-danger"><em class="icon ni ni-arrow-long-down"></em>16.93%</span></span>
                                                                        <span class="sub-title">This Month</span>
                                                                    </div>
                                                                    <div class="nk-sale-data">
                                                                        <span class="amount">$7,299.59 <span class="change up text-success"><em class="icon ni ni-arrow-long-up"></em>4.26%</span></span>
                                                                        <span class="sub-title">This Week</span>
                                                                    </div>
                                                                </div>
                                                                <div class="nk-sales-ck sales-revenue">
                                                                    <canvas class="sales-bar-chart" id="salesRevenue"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->
                                                <div class="col-lg-6 col-xxl-12">
                                                    <div class="row g-gs">
                                                        <div class="col-sm-6 col-lg-12 col-xxl-6">
                                                            <div class="card card-bordered">
                                                                <div class="card-inner">
                                                                    
                                                                    <div class="flex-sm-wrap g-4 flex-md-nowrap">
                                                                        <div class="nk-sale-data">



                    <div class="form-group">
                      <label for="fname" class="form-label control-label">Name of Business</label>
                      <div class="form-control-wrap">
                        <%= ff.text_field :title, :placeholder => "Example: First Church Title", :class => "form-control", :required => true%>
                      </div>
                    </div>
                          <%= f.submit "Save", :class => "btn btn-lg btn-primary" %>

                                                                            
                                                                            
                                                                        </div>
                                                                       
                                                                    </div>
                                                                </div>
                                                            </div><!-- .card -->
                                                        </div><!-- .col -->
                                                        <div class="col-sm-6 col-lg-12 col-xxl-6">
                                                            <div class="card card-bordered">
                                                                <div class="card-inner">
                                                                    <div class="card-title-group align-start mb-2">
                                                                        <div class="card-title">
                                                                            <h6 class="title">Avg Transaction</h6>
                                                                        </div>
                                                                        <div class="card-tools">
                                                                            <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Average sale amount"></em>
                                                                        </div>
                                                                    </div>
                                                                    <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                                                        <div class="nk-sale-data">
                                                                            <span class="amount">$346.20</span>
                                                                            <span class="sub-title"><span class="change up text-success"><em class="icon ni ni-arrow-long-up"></em>2.45%</span>since last week</span>
                                                                        </div>
                                                                        <div class="nk-sales-ck">
                                                                            <canvas class="sales-bar-chart" id="totalSubscription"></canvas>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- .card -->
                                                        </div><!-- .col -->
                                                    </div><!-- .row -->
                                                </div><!-- .col -->
                                            </div><!-- .row -->
                                        </div><!-- .col -->
                                        <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="card-title-group align-start gx-3 mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Sales Overview</h6>
                                                            <p>Year to Date <a href="#">See Details</a></p>
                                                        </div>
                                                        <div class="card-tools">
                                                            <div class="dropdown">
                                                                <a href="#" class="btn btn-primary btn-dim d-none d-sm-inline-flex" data-toggle="dropdown"><em class="icon ni ni-download-cloud"></em><span><span class="d-none d-md-inline">View</span> Report</span></a>
                                                                <a href="#" class="btn btn-icon btn-primary btn-dim d-sm-none" data-toggle="dropdown"><em class="icon ni ni-download-cloud"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a href="#"><span>Download Mini Version</span></a></li>
                                                                        <li><a href="#"><span>Download Full Version</span></a></li>
                                                                        <li class="divider"></li>
                                                                        <li><a href="#"><em class="icon ni ni-opt-alt"></em><span>More Options</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
                                                        <div class="nk-sale-data">
                                                            <span class="amount">$82,944.60</span>
                                                        </div>
                                                        <div class="nk-sale-data">
                                                            <span class="amount sm text-teal">$9,059.22 <small>Total Lifetime Savings</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="nk-sales-ck large pt-4">
                                                        <canvas class="sales-overview-chart" id="salesOverview"></canvas>
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                        <div class="col-xxl-12">
                                            <div class="card card-bordered card-full">
                                                <div class="card-inner">
                                                    <div class="card-title-group">
                                                        <div class="card-title">
                                                            <h6 class="title"><span class="mr-2">Recent Transactions</span> <a href="#" class="link d-none d-sm-inline">See History</a></h6>
                                                        </div>
                                                        <div class="card-tools">
                                                            <ul class="card-tools-nav">
                                                              <li><a href="#"><span>Credit</span></a></li>
                                                              <li><a href="#"><span>Debit</span></a></li>
                                                                <li><a href="#"><span>Refunds</span></a></li>
                                                                <li class="active"><a href="#"><span>All</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-inner p-0 border-top">
                                                    <div class="nk-tb-list nk-tb-orders">
                                                        <div class="nk-tb-item nk-tb-head">
                                                            <div class="nk-tb-col"><span>Transaction ID</span></div>
                                                            <div class="nk-tb-col tb-col-sm"><span>Date</span></div>
                                                            <div class="nk-tb-col tb-col-md"><span>Customer</span></div>
                                                            <div class="nk-tb-col tb-col-lg"><span>Subtotal</span></div>
                                                            <div class="nk-tb-col"><span>Type</span></div>
                                                            <div class="nk-tb-col"><span>Fee</span></div>
                                                            <div class="nk-tb-col"><span class="d-none d-sm-inline">Status</span></div>
                                                        </div>
                                                       
                                                        <!-- Row Start -->
                                                        <div class="nk-tb-item">
                                                            <div class="nk-tb-col">
                                                                <span class="tb-sub">#95949</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span class="tb-sub">10/07/2020</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span class="tb-sub">Robin Williams</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-lg">
                                                                <span class="tb-sub">-$50.49</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-sub">Credit</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-sub">Returned</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="badge badge-dot badge-dot-xs badge-warning">Refunded</span>
                                                            </div>
                                                        </div>
                                                        <!-- Row End -->
                                                    </div>
                                                </div>
                                                <div class="card-inner-sm border-top text-center d-sm-none">
                                                    <a href="#" class="btn btn-link btn-block">See History</a>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->

      <% end #ff for %>
      <% end #form %>

                                </div><!-- .nk-block -->


            

                       <div class="nk-block">
                                    <div class="card card-bordered">
                                        <div class="nk-refwg">
                                            <div class="nk-refwg-invite card-inner">
                                                <div class="nk-refwg-head g-3">
                                                    <div class="nk-refwg-title">
                                                        <h5 class="title">Your Secure Page</h5>
                                                        <div class="title-sub">Use the bellow link to securely collect payments.</div>
                                                    </div>
                                                    <div class="nk-refwg-action">
                                                        <a href="https://paynow.io/secure/1000" target="_blank" class="btn btn-primary">Send Payment Request</a>
                                                    </div>
                                                </div>
                                                <div class="nk-refwg-url">
                                                    <div class="form-control-wrap">
                                                        <div class="form-clip clipboard-init" data-clipboard-target="#refUrl" data-success="Copied" data-text="Copy Link"><em class="clipboard-icon icon ni ni-copy"></em> <span class="clipboard-text">Copy Link</span></div>
                                                        <div class="form-icon">
                                                            <em class="icon ni ni-link-alt"></em>
                                                        </div>
                                                        <input type="text" class="form-control copy-text" id="refUrl" value="https://paynow.io/secure/1000">
                                                    </div>
                                                </div>
                                            </div><!-- .nk-refwg-invite -->
                                         
                                        </div><!-- .nk-refwg -->
                                    </div><!-- .card -->
                                    </div>



       <p>
                                  <hr/>
                                </p>


 <div class="row g-gs">

                                         <div class="col-xxl-12">
                                            <div class="card  card-full">
                                                
                                                <div class="card-inner p-0 border-top">
                                                    <div class="nk-tb-list nk-tb-orders">
                                                       


                                                </div>
                                                <div class="card-inner-sm border-top text-center d-sm-none">
                                                    <a href="#" class="btn btn-link btn-block">See History</a>
                                                </div>
                                            </div><!-- .card -->
                                        </div><!-- .col -->

  </div>


                                </div>





<!-- START PAGE-CONTAINER -->
<div class="page-container">
  <!-- START PAGE HEADER WRAPPER -->
  <!-- START HEADER -->



  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper">
    <!-- START PAGE CONTENT -->

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>

    <% end %>
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">





      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-10">
                    <p>Welcome to your admin page. If you need any help, please kindly reach out to your merchant rep. <%= link_to "Click here ",	edit_user_path(resource_name),  :class => "", :role => "button", :remote => true, :data => {:toggle=>"modal", :target => "#ajax-modal"} %>to change your password.
                    </p>
              <br>
              <%= devise_error_messages! %>

              <%= form_for(setup_user(resource), as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>


              <%= f.fields_for :kiosk do |ff| %>
       
      



       <div class="form-group">


                <label for="amount" class="col-sm-3 control-label" >Quick Pay</label> 



                    <% if (f.object.merchid)%>
                <div class="col-sm-6 ">

                  <p class="hint-text small"></p>
                  <p class="m-t-10">
                    <%= ff.text_field :amount, :placeholder => "Amount in USD", :class => "form-control"%>
                  </p>


                  <p class="hint-text small"></p>
                  <p class="m-t-10">
                    <%= ff.text_field :inv_num, :placeholder => "Invoice number", :class => "form-control"%>
                  </p>


                  <p class="hint-text small"></p>
                  <p class="m-t-10">
                    <%= ff.text_field :inv_desc, :placeholder => "Invoice description", :class => "form-control"%>
                  </p>

                  <%= f.submit "Update QR Code", :class => "btn btn-complete" %>
                         <% if @share_url  %>
                  <a id="copy-button"   class="btn btn-white" data-clipboard-text="<%=@share_url%>">
                     <!-- Temp Hide <img width="13" src="assets/clippy.svg" alt="Copy share link to clipboard"> -->
                      Copy Quick Pay Link
                  </a>

                </div>
                <div class="col-sm-3 m-t-10">
                 

                 <%= @qr.html_safe if @qr %>


                  <% end %>
                      </div>


              <% else %>

                              <div class="col-sm-9 hint-text small">
                              Please activate your merchant account to use Quick Pay.
                               </div>

              

              <% end %>
</div> 

   







            <div class="hide"></div>

          




              <div class="form-group">
                <label class="col-sm-3 control-label">Merchant Account</label>
                <div class="col-sm-9 m-t-10">


                    <% if (f.object.merchid)%>
                    <b class="alert alert-success " data-toggle="collapse" href="#collapseExample" role="button"
                      aria-expanded="false" aria-controls="collapseExample"> Connected</b>
                   <br />
                      <br />
                      
                  <div class="collapse" id="collapseExample">
                    <div class="">
                      Merchant Id : <%= f.object.merchid%> <br /><br />
                      Username : <%= f.object.merchant_username%> <br /><br />
                      Password : ***** <br /><br />

                    </div>
                  </div>


                  <div class="hide"></div>
                <% else %>

                  <p> </p>
                  <div class="row">
                    <div class="col-sm-9">
                    <p>Setting up a merchant account is fairly easy. PayNow.io is directly integrated into many different processors. If you do not have a processor, no problem, we will help get one setup for you.

</p>

                      <%= link_to "Activate Card Processing",	new_activation_path(),  :class => "btn btn-complete", :role => "button"%>
                      <!--                           <button class="btn btn-default"><i class="pg-close"></i> Clear</button> -->

                    </div>
                  </div>
                  <% end %>




                </div>
                  <% end %>
              </div>

              <br>
              <div class="row col-sm-12">
                <div class="col-sm-6">
                  <%= f.submit "Save", :class => "btn btn-success" %>

                  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-grey" ) %>
                </div>



              </div>
            </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
  <!-- END CONTAINER FLUID -->
<!-- END PAGE CONTENT -->




<div id="product-modal" class="modal fade">

</div>

<!-- START FOOTER -->
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>

<!-- END FOOTER -->
</div>
<!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->