    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
      <!-- START PAGE HEADER WRAPPER -->
      <!-- START HEADER -->
      <div class="header hidden-xs hidden-sm hidden-md">
        <div class=" pull-left sm-table">
          <div class="header-inner">

          <h2 class="pull-left p-l-30"><strong>PayNow.io</strong></h2>
     



            <div class="brand inline">
              <!--
<img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">

-->
            </div>

          </div>
        </div>
        <div class=" pull-right hidden-xs hidden-sm hidden-md">
          <!-- START User Info-->
          <div class=" m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
              <span class="semi-bold">Secure</span> <span class="text-master">Form</span>
            </div>

            <div class="dropdown pull-right"><button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                           <%= image_tag("avatar.jpg", :alt => "", :size => "32x32",  data: { src: "avatar.jpg", src_retina: "avatar_small2x.jpg" }) %>


            </span>

              </button>

		<!-- <%= link_to('Logout', destroy_user_session_path, :method => :delete)  %> sl -->
              </div>


          </div>
          <!-- END User Info-->
        </div>
      <!-- END HEADER -->
    </div>
  <!-- Modal -->



    <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid container-fixed-lg bg-white ">


            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-10">
                    <h3>Admin</h3> 
                    <p>Welcome to your admin page. If you need any help, please kindly reach out to your merchant rep. <%= link_to "Click here ",	edit_user_path(resource_name),  :class => "", :role => "button", :remote => true, :data => {:toggle=>"modal", :target => "#ajax-modal"} %>to change your password.
                    </p>
                    <br>
					<%= devise_error_messages! %>

                    <%= form_for(setup_user(resource), as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>

                    <div class="form-group">
                      <label for="fname" class="col-sm-3 control-label">Name of Business</label>
                      <div class="col-sm-9">
                      <%= f.fields_for :kiosk do |ff| %>
                        <%= ff.text_field :title, :placeholder => "Example: First Church Tithe", :class => "form-control", :maxlength => 250, :required => true%>
                      <% end %>
                      </div>
                    </div>


                      <div class="form-group">
                        <label for="fname" class="col-sm-3 control-label">Your payment link</label>
                        <div class="col-sm-9">
                           <p class="hint-text small">You can share the link, post it on your email or even display on your own website.</p> 

                           <%= preview_link(resource) %>



                        </div>
                      </div>


                      <div class="form-group">
                        <label class="col-sm-3 control-label">Payments</label>
                        <div class="col-sm-9">


						<% if (f.object.merchid)%>




<!-- sl pay buttons


<button class="btn btn-default"><i class="fa fa-qrcode"></i>  Request Payment</button>

<a class="btn btn-info" role="button" aria-expanded="false" aria-controls="">
              <i class="fa fa-qrcode"></i>
            </a> 
<a class="btn btn-warning" role="button" aria-expanded="false" aria-controls="">
              <i class="fa fa-envelope-o"></i>
            </a> 

<a class="btn btn-primary" data-toggle="collapse" href="#collapseQr" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i>Manually Request Payment</i>
            </a> 

            <div class="collapse" id="collapseQr">
              <div class="">
               
	       Enter Amount : ______ <br />
               Invoice # : ______ <br />
               Invoice Description : ______ <br />

              </div>
            </div>
-->





	<b class="alert alert-success "> Merchant account provided</b> 
            

            <a class="btn btn-outline-gray" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i>Show Details</i>
            </a> 


            <div class="collapse" id="collapseExample">
              <div class="">
               Merchant Id : <%= f.object.merchid%> <br />
               Username : <%= f.object.merchant_username%> <br />
               Password : ***** <br /><br />

              </div>
            </div>

            <div class="hide"></div>

            <% else %>
              <p> </p>
                <div class="row">
                     <div class="col-sm-9"> <p>Setting up a merchant account is fairly easy. PayNow.io is directly integrated into many different processors. If you do not have a processor, no problem, we will help get one setup for you.

</p>
                       <%= link_to "Activate Card Processing",	new_activation_path(),  :class => "btn btn-complete", :role => "button"%>
                       <!--                           <button class="btn btn-default"><i class="pg-close"></i> Clear</button> -->

                     </div>
                       </div>
						<% end %>
    					</p>




                        </div>
                      </div>

                      <br>
                      <div class="row col-sm-12">
                        <%= f.submit "Save", :class => "btn btn-success" %>

                        <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-grey" ) %>

<!-- sl temp hide 
<p class="small hint-text pull-right">
                        <%= link_to "Click here ",	edit_user_path(resource_name),  :class => "", :role => "button", :remote => true, :data => {:toggle=>"modal", :target => "#ajax-modal"} %>to change your password.
                          </p> -->

	                    </div>
                      </div>

                    <% end %>

                  </div>
                </div>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->




<div id="product-modal" class="modal fade">

</div>

        <!-- START FOOTER -->
        <%= render "layouts/footer" %>
        <!-- END FOOTER -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
