<div class="card card-bordered">
  <div class="card-inner card-inner-lg">
    <div class="nk-block-head">
      <div class="nk-block-head-content">

        <h4 class="nk-block-title">Sign-In</h4>
        <div class="nk-block-des">
          <p>Build a quick and easy payment page in 55 seconds. We utilize a compliant surcharging system or an optional
            a gateway fee model to eliminate most of your costs . <a target="blank" href="/secure/1000">Click here to
              see a working demo.</a></p>


        </div>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  :html => {:class => "p-t-15"}) do |f| %>
   



 <div class="form-group">


      <div class="form-label-group">
        <label class="form-label" for="password">Email</label>


      </div>





      <%= f.email_field :email, :placeholder => "We'll send login details and notifications here", :class => "form-control form-control-lg", :required => true%>








    </div>



    
    <div class="form-group">
      <div class="form-label-group">
        <label class="form-label" for="password">Password</label>
        <%= link_to "Forgot password?", new_password_path(resource_name),  :class => "link link-primary link-sm" %>

      </div>
      <div class="form-control-wrap">
        <a href="#" class="form-icon form-icon-right passcode-switch" data-target="password">
          <em class="passcode-icon icon-show icon ni ni-eye"></em>
          <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
        </a>

        <%= f.password_field :password, :placeholder => "6 characters minimum", :class => "form-control", :required => true%>





      </div>
    </div>




   


    <div class="form-group">



      <div class="custom-control custom-checkbox">
        <%= f.check_box :terms, :class => "custom-control-input",  id:"customCheck1" %>
        <label class="custom-control-label" for="customCheck1">
          I agree to <a href="/terms" target="_new">terms</a>

         </label>
      </div>







    </div>





    <div class="form-group">
      <%= f.submit "Sign up", :class => "btn btn-lg btn-primary btn-block" %>

    </div>





     <% if @user.errors.any? %>


    <% @user.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger" role="alert"><%= msg %></div>
    <% end %>
    <% end %>


  <% end %>


  </div>
</div>